.filter-menu {
  padding: 18px 10px 0;
  margin-bottom: 20px;

  header {
    display: flex;
    justify-content: space-between;
  }

  .arrow {
    display: inline-block;

    margin-top: -6px;
    cursor: pointer;
  }

  h3 {
    padding: 12px 0;
    margin-top: -18px;
    text-transform: capitalize;
  }

  ul {
    padding: 0 0 20px;
    border-top: 1px solid #e6e2df;

    li {
      border-bottom: 1px solid #e6e2df;
      font-size: 13px;
      display: flex;
      align-items: center;
    }

    li label {
      display: inline-block;
      padding: 8px 0 8px 20px;
      line-height: 1.3;
      vertical-align: middle;
      color: #3d3d3d;
      font-weight: 600;
    }
  }

  input[type="checkbox"] {
    margin-right: 10px;
    margin-left: -20px;
    margin-top: -2px;
    vertical-align: middle;
    line-height: 1.15;
    font-size: 100%;
    display: inline-block;
  }
}

.filter-menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 0 20px;
  overflow: hidden;
}

.filter-menu-item {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  transition: 0.2s;

  &:hover {
    color: var(--theme-color);
  }
}
