.basket__section {
  max-width: 1240px;
  margin: 0 auto;
}

.basket__container {
  display: flex;
  gap: 7em;
  position: relative;

  .basket__products {
    flex: 1 1 60%;
  }

  .basket__detail {
    flex: 1 1 40%;
  }
}

table.basket__table {
  border: none;
  border-collapse: collapse;
  width: 100%;

  thead {
    border-bottom: 4px solid #d3d4d6;
  }

  th {
    padding: 1em 0;
    text-align: left;
    font-size: 14px;

    &:last-child {
      text-align: right;
    }
  }

  tr {
    //background-color: white;
    border-bottom: 1px solid #d3d4d6;
  }

  td {
    padding: 1em 0;
    padding-bottom: 1em;

    &:not(:first-child, :last-child) {
      padding-right: 1em;
    }
  }

  .image__column {
    width: 100px;
  }

  .product__column {
    width: 45%;
  }

  .price__column {
    font-weight: 600;
    font-size: 15px;
    text-align: right;
  }

  img {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }

  h2 {
    color: var(--theme-color);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1em;
  }

  p {
    font-size: 14px;

    span {
      margin-left: 1rem;
    }
  }

  button {
    display: inline-flex;
    padding: 10px;
    font-size: 12px;
    align-items: center;
    align-self: center;
    background-color: transparent;
    border: none;
    color: var(--theme-color);
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.125s;

    &:hover {
      color: lighten($color: #ec0577, $amount: 30%);
    }

    &.update {
      color: var(--theme-color);
    }

    &.remove__button {
      padding-left: 0;
      padding-right: 2em;
    }
  }

  input {
    display: inline-block;
    width: 40px;
    border: 1px solid #999;
    padding: 0.8rem 0.5rem;
    text-align: center;

    &:focus {
      outline: 1px solid #333;
      border: 1px solid #333;
    }
  }
}

table.basket__detail__table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  position: sticky;
  top: 70px;

  tr {
    background-color: #e6e7eb;
  }

  th,
  td {
    padding: 1.5em 1em;
  }

  th {
    text-align: left;
  }

  td {
    text-align: right;
  }

  button {
    width: 100%;
  }
}

.remove__text {
  margin-left: 0.5rem;
}

.remove__icon {
  border-radius: 50%;
  border: 1px solid var(--theme-color);
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.action__wrap {
  display: flex;
}

.basket__banner {
  padding: 1em 1em;
  background-color: #e6e7eb;
  margin-bottom: 3em;
  text-align: center;

  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
  }

  .small {
    font-size: 12px;
    font-weight: 400;
    color: grey;
    margin-top: 0.5em;
  }

  .total {
    font-size: 20px;
  }

  .discount {
    color: var(--theme-color);
  }
}
