.cat-link {
  display: block;
}

.cat-image-wrapper {
  //display: flex;
}

.cat-image {
  .cat-image-wrapper {
    aspect-ratio: 1 / 1;
  }

  img {
    width: 100%;

    margin: 0;
    object-fit: cover;
  }
}

.cat-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 25px 25px;
  flex: 1 1 auto;
  border-top: 3px solid #00c7b1; //#fcc900;
}

.cat-content::before {
  position: absolute;
  content: "";
  left: 30px;
  top: -20px;
  width: 36px;
  height: 36px;
  background-color: #00c7b1; // #fcc900;
  transform: rotate(45deg);
  border: none;
}

.cat-content > {
  .title {
    font-size: 18px;
    padding: 0;
  }

  .artist {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
  }
  .price {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
  }

  .media-type {
    font-size: 12px;
    text-transform: capitalize;
  }

  .button-wrapper {
    margin-top: auto;
    margin-bottom: 0;
    padding-top: 10px;
    line-height: 2.1;

    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.55em 1.2em;
      padding-left: 22px;

      svg {
        color: #ec0577;
        padding: 0;
        text-align: right;
      }

      &:hover {
        svg {
          color: white;
        }
      }
    }
  }
}
