.App-header {
  background-color: #282c34;
  padding: 16px 0;
  color: white;
}

.App-header .container {
  display: flex;
  align-items: center;
}

nav {
  margin-left: auto;
}

nav li {
  display: inline-block;
  margin: 0 16px;
}

nav a {
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}

.logo {
  text-transform: uppercase;
  color: rgb(172, 14, 88);
}
