.detail-section {
  padding: 3em 0;
}

.section-album {
  padding: 10px 1.2em;
  display: flex;

  .album-art {
    flex: 50%;
    display: flex;
    gap: 10px;
    padding-right: 30px;

    .left {
      flex: 68%;
      text-align: center;
    }

    .right {
      flex: 32%;
      img {
        width: 55%;
      }
    }

    img {
      width: 100%;
    }
  }

  .album-description {
    flex: 50%;

    h1 {
      font-size: 32px;
      text-transform: capitalize;
      font-weight: 800;
    }

    h2 {
      margin-bottom: 20px;
      text-transform: capitalize;
      font-size: 22px;
    }
  }
}

.meta-info {
  margin-bottom: 30px;

  .price {
    font-weight: 700;
    font-size: 20px;
  }
  & > p {
    margin: 15px 0;
  }

  .barcode {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 4px;

    + span {
      font-size: 13px;
    }
  }

  .link {
    border: none;
    background: transparent;
    margin-left: 5px;
    color: red;
    font-size: 16px;
    text-decoration: underline;
  }
}

.meta-detail {
  margin-top: 30px;
  padding: 14px 0;
  border-top: 1px solid #d4d6d9;
  border-bottom: 1px solid #d4d6d9;

  li {
    font-size: 14px;
    line-height: 2;

    span {
      font-weight: 700;
    }
  }
}

.social-container {
  display: flex;
  align-items: center;
  > span {
    margin-right: 8px;
  }
}

.section-add,
.section-like {
  padding: 0 1.2em;
}
.section-details {
  max-width: 100%;
}

.section-like {
  height: 498px;
}
