.carousel {
  padding: 10px;
  margin-top: 20px;
  position: relative;
}
.carousel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel__header__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.25;
  color: #363636;
}
.carousel-container {
  margin: 10px 0;
  overflow: hidden;
  position: relative;

  .inner {
    width: calc(400%);
    display: grid;
    grid-auto-flow: column;
    transition: 0.6s;
    display: grid;
    gap: 10px;
    //grid-template-columns: repeat(5, 1fr);
  }

  .carousel-group {
    background-color: darkmagenta;
    border: 1px solid black;

    .carousel-item {
      border: 1px solid yellow;
    }

    img {
      width: 100%;
      grid-column: 1 / 6;
      object-fit: cover;
    }
  }
}

.buttons__wrap {
  //background-color: red;

  button {
    background-color: transparent;
    border: none;
    width: 14px;
    height: 14px;
    border-bottom: 4px solid #787878;
    border-right: 4px solid #787878;
    transform: rotate(-45deg);
    margin-left: 8px;
  }

  button.button__previous {
    transform: rotate(135deg);
    margin-left: -10px;
  }

  > span {
    font-size: 12px;
    color: #787878;
    font-weight: 600;
  }
  .number,
  .length {
    display: inline-block;
  }
  .number {
    transform: translateY(-3px);
  }
  .length {
    transform: translate(3px, 5px);
  }
}

.divide {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #363636;
  transform: rotate(-50deg);
  margin-left: -5px;
}
