@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&display=swap");

:root {
  --theme-color: #ec0577;
  --green: #00c7b1;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// ::-webkit-scrollbar {
//   /* width: 0.5em; */
//   background-color: silver;
// }
// ::-webkit-scrollbar-thumb {
//   background-color: gray;
// }

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.button {
  padding: 10px 16px;
  font-size: 16px;
  border: 1px solid #3d3d3d;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card {
  background-color: white;
  padding: 1em;
}

.button--category {
  background-color: transparent;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 1.4;
  transition: background-color 0.3s, color 0.3s;
}

.button--category:hover {
  background-color: var(--theme-color);
  color: white;
}

.button--filter {
  border: 1px solid var(--theme-color);
}

.button--flat {
  border: 1px solid var(--theme-color);
  background-color: var(--theme-color);
  color: white;
  transition: 0.3s;

  &:hover {
    color: white;
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
  }
}

.button--option {
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid #d4d6d9;
  background-color: transparent;
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.button--100 {
  width: 100%;
}

.button-zoom {
  margin: 0 auto;
  background: transparent;
  color: #ec0577;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

button:disabled {
  background-color: transparent;
  color: gray;
  border-color: gray;
  cursor: not-allowed;
}
button:disabled:hover {
  background-color: transparent;
  color: gray;
}

ul,
ol {
  list-style-type: none;
}

input:not([type="checkbox"]) {
  padding: 10px 15px;
  height: 40px;
  border: 1px solid #d3d6d9;
  background: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page-title {
  font-size: 36px;
  font-weight: 600;
  color: #363636;
  text-transform: capitalize;
  padding: 0px 0 24px;
}
