*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: silver;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.button {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #3d3d3d;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.card {
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;
}
